{% extends "layout.njk" %} {% block content%}



<div class="pageInfos">
    <img src="https://rocketseat.gallerycdn.vsassets.io/extensions/rocketseat/rocketseatreactnative/3.0.1/1588456740326/Microsoft.VisualStudio.Services.Icons.Default" alt="Rocket Logo">
    <h1>Rocketseat</h1>
    <p>Evolua rápido como a tecnologia. Junte-se a milhares de devs e acelere na direção dos seus objetivos.</p>
    <ul>
        <li>HTML</li>
        <li>Javascript</li>
        <li>React</li>
        <li>React NativE</li>
    </ul>

</div>

<div id="footer" class="links">
    <a href="https://github.com/rocketseat-education/">Github</a>
    <a href="https://www.instagram.com/rocketseat_oficial/">Instagram</a>
    <a href="https://www.facebook.com/rocketseat">Facebook</a>
</div>

{% endblock %}