{% extends "layout.njk"%} {% block content%}
<style>
    .notFound {
        padding-top: 40vh;
    }
</style>
<div class="notFound">
    <h1 style="color: white; text-align: center; height: 50%;">Opa! PERAI... Pagina não encontrada :/</h1>{% endblock %}
</div>